<!DOCTYPE html>
<html lang="ru">

<%- include("layouts/header") %>
<body>
<%- include('layouts/navbar') %>
</section>
<div class="container">
    Posts
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <% for (var i = 0; i < blogposts.length; i++){ %>
                <div class="post-preview">
                    <a href="/post/<%= blogposts[i]._id %>">
                        <h2 class="post-title">
                            <%= blogposts[i].title %>
                        </h2>
                        <h3 class="post-subtitle">
                            <%= blogposts[i].subtitle %>
                        </h3>
                    </a>
                    <p class="post-meta">Posted by
                        <a href="#"><%= blogposts[i].userid.username %></a>
                        on <%= blogposts[i].datePosted.toDateString() %></p>
                </div>
                <hr>
            <% } %>
        </div>
    </div>
</div>

</main>
<%- include('layouts/footer') %>
</body>
</html>
