<!DOCTYPE html>
<html lang="en">
<%- include("layouts/header") %>
<body>

<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/day-1">Day-1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/day-2">Day-2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/day-3">Day-3</a>
                </li>
                <% if(loggedIn) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/new">add NewPost</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/profile">My profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/logout">Logout</a>
                    </li>
                <% } %>
                <% if(!loggedIn) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/login">Login</a>
                    </li>
                <% } %>
            </ul>

        </div>
    </div>
</nav>
<header class="masthead" style="background-image: url('<%= blogpost.image %>'); width: 100%;height: 100%">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1><%= blogpost.title %></h1>
                    <span class="subheading"><%= blogpost.subtitle %></span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <!--        <h2 class="post-title"><%= blogpost.title %></h2>-->
            <!--        <h6 class="post-subtitle"><%= blogpost.subtitle %></h6>-->
            <!--                <img src="<%= blogpost.image %>" class="img-fluid rounded" alt="Responsive image">-->
            <p><%= blogpost.body %></p>

            <span style="text-align: right; color: grey;">
      Posted by <%= blogpost.userid.username %> on <%= blogpost.datePosted.toDateString() %>
    </span>
            <div class="page-header">
                <h2 style="margin-top: 30px">Comments: </h2>
            </div>
            <% if(loggedIn){ %>
                <form action="/comment/add" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="comment">Write comment</label>
                        <input type="text" class="form-control" placeholder="" id="comment" name="comment"
                               required minlength="2rs" maxlength="30">

                    </div>
                    <input type="text" value="<%= blogpost._id %>" name="iden" id="iden" style="visibility: hidden">
                    <br>
                    <div>
                        <button type="submit" id="sendMessageButton" class="btn btn-primary">Send</button>
                    </div>
                </form>
            <% } %>
            <br>
            <div class="comments-list">
                <% for (var i = 0; i < comment.length; i++){ %>
                    <div class="media">
                        <a class="media-left" href="#">
                            <img src="<%= comment[i].userid.photo %>" class="img-fluid rounded" width="50" height="50">
                        </a>
                        <div>
                            <h4 style="margin-left: 20px; margin-top: 5px"><%= comment[i].userid.username %></h4>
                            <p style="margin-left: 20px; margin-top: 20px"><%= comment[i].comment %> <small style="color: grey">
                                    on <%= comment[i].datePosted.toDateString() %></small></p>
                        </div>
                    </div>
                    <hr>
                <% } %>

            </div>
        </div>
    </div>
</div>
<hr>


<%- include("layouts/footer") %>
</body>
</html>
